html {
	
	background-color:#fff;

}
div.mui-content{
	background-color:#fff;
}
.mui-content h1{
	font-size:0.25rem;
	color:#1f1f1f;
	letter-spacing: 1px;
	font-family:"微软雅黑";
	padding-top:0.27rem;
	font-weight: normal;
}
#myinput{
	width: 86%;
	margin: 0.9rem auto 0;
	font-size: 16px;
	
}
#myinput input{
	width: 100%;
	border:0px;
	border-bottom: 2px solid #d4d4d4;
	padding-left: 0;
}
.forget{
	color: #48c5c9;
	float: right;
	margin-right: 0.07rem;
	font-size:14px;
}
.or{
	text-align: center;
	font-size: 0.17rem;
	margin-top: 0.5rem;
}
ul{
	width:90%;
	margin: 0 auto;
}
ul li {
	display: inline-block;
	width:30%;
}
ul li img{
	width: 0.3rem;
	height: 0.3rem;
}
a.forget:visited,a.forget:hover{
	color: #48c5c9;
	text-decoration: none;
}
